@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
     margin: 20px;
    
}

#subtitle {
    background: black;
         margin: 20px;

    color: white;

}

.topic {
    background: lightgray;
          width: 70px;
          padding: 0px 5px 20px;
          height:2px;
          margin-right: 100px;
}

.topic2 {
    background: lightgray;
          width: 70px;
          padding: 0px 5px 20px;
          height:2px;
          margin: auto;
}

.topic3 {
    background: lightgray;
          width: 70px;
          padding: 0px 5px 20px;
          height:2px;
          margin-left: 400px;
}

